<div class="container">
    <div class="row">
        <div class="col-sm-12 col-lg-6 col-xs-6"><img src="./assets/img/home.jpg" alt="" class="home1"></div>
        <div class="col-sm-12 col-lg-6 col-xs-6 home-text text-justify"><h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur totam accusantium error cumque placeat sed incidunt quasi reprehenderit dicta adipisci consequatur assumenda, asperiores voluptates? Fugiat culpa velit quo tempora itaque.</h4>
        <div class="mb-3"><p class="text-center"><a href="./alcohols?&page=1" class="btn mt-1 btn-danger btn-lg">Заказать</a></p></div></div>
    </div>    
</div>

<script>
    document.title = "Главная";
  </script>