<link rel="stylesheet" href="../../assets/css/partials-messages.css">

<% if (typeof errors != 'undefined') { %>
    <div class="toast">
        <% errors.forEach(function(error) { %> 
            <div class="block block-error">
                <p><%= error.msg %></p>
            </div>
        <% }); %> 
    </div>
<% } %>

<% if (success_msg != 'undefined' ) { %>
    <div class="toast">
        <div class="block block-success">
            <p><%= success_msg %></p>
        </div>
    </div>
<% } %> 

<% if (error_msg != 'undefined') { %>
    <div class="toast">
        <div class="block block-error">
            <p><%= error_msg %></p>
        </div>
    </div>
<% } %> 

<% if (error != 'undefined') { %>
    <div class="toast">
        <div class="block block-error">
            <p><%= error %></p>
        </div>
    </div>
<% } %> 