@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap');

body {
    background: linear-gradient(0.90turn, #0b9bd8, #0ac7ce, #0bd3da);
    color: #262829;
    display: flex;
    justify-content: center;
    min-width: 100vw;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    font-size: 1.2rem;
    font-family: 'Ubuntu', sans-serif;
}

.wrapper {
    background-color: #ffffff;
    align-self: center;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2);
}

.container {
    display: flex;
    flex-flow: row wrap;
}
.col {
    max-height: 500px;
}
.col:not(:nth-last-child()) {
    flex: 1;
}
.col:nth-last-child() {
    flex: 2;
}

.col img {
    height: 500px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #d3dfe0;
}

.login-form {
    margin: 2rem 1rem;
    height: calc(500px - 4rem);
}

h3 {
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    margin: 0 auto 1.5rem;
}

input {
    width: calc(100% - 40px);
    border: 1px solid #b6b6b6;
    border-radius: 15px;
    padding: .5rem 1rem;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: .5rem;
    outline: none;
}

label {
    text-align: center;
    align-self: center;
    display: block;
    text-align: center;
    margin: 0 auto;
    font-size: .92rem;
    font-weight: 500;
}

.attention {
    margin-top: 2rem;
    border-radius: 15px;
    color: #c42121;
}

button {
    border: none;
    border-radius: 15px;
    background: #0ac7ce;
    padding: .5rem 1rem;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
    outline: none;
}

button:hover {
    background: #08afb4;
}

.to-back {
    color: #2c2c2c;
    text-decoration: none;
    width: 250px;
    text-align: right;
}